In [2]:
import re
import json
import nltk
import os, sys
import indicnlp
import pandas as pd
nltk.download('punkt')
from indicnlp.tokenize import sentence_tokenize
from indicnlp.tokenize import indic_tokenize

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Shaifali\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [60]:
# Open a file

#for train csv
#path = "C:/Users/Shaifali/OneDrive - University of Wolverhampton/Disseration Materials/English Data"
#for test csv
path = "C:/Users/Shaifali/OneDrive - University of Wolverhampton/Disseration Materials/Hindi Data"
dirs = os.listdir(path)

In [61]:
for file in dirs: 
    file_name = "file"
    print(file)

देवकीनंदन खत्री File_1.txt
देवकीनंदन खत्री File_2.txt
देवकीनंदन खत्री File_3.txt
प्रेमचंद File_1.txt
प्रेमचंद File_2.txt
प्रेमचंद File_3.txt
विभूति नारायण राय File_1.txt
विभूति नारायण राय File_2.txt
विभूति नारायण राय File_3.txt
शरतचंद्र चट्टोपाध्याय File_1.txt
शरतचंद्र चट्टोपाध्याय File_2.txt
शरतचंद्र चट्टोपाध्याय File_3.txt
सूर्यकांत त्रिपाठी निराला File_1.txt
सूर्यकांत त्रिपाठी निराला File_2.txt
सूर्यकांत त्रिपाठी निराला File_3.txt

In [62]:
def clean_text(file_content):
    file_clean = re.sub("\n+", " ", file_content) #Remove newline characters
    file_clean = re.sub("\s+", " ", file_content) #Remove extra whitespaces
    #Tokenize the file into sentences
    
    #For Hindi texts
    sentence_tokens = sentence_tokenize.sentence_split(file_clean, lang='hi', delim_pat='auto') 
    sentence_tokens = [sent for sent in sentence_tokens if len(indic_tokenize.trivial_tokenize_indic(sent)) > 9]
    
    #For French and English texts
    #sentence_tokens = nltk.sent_tokenize(file_clean)
    #sentence_tokens = [sent for sent in sentence_tokens if len(nltk.word_tokenize(sent)) > 9] 
    return sentence_tokens

In [63]:
def file_metadata(file_name):
    file_name = file_name[:-4]
    author_name = file_name[:-7] #for train 
    #author_name = file_name[:-5] #for test 
    
    
    file_number = file_name[-6:] #for train ONLY
    return author_name, file_number #for train
    #return author_name #for test

In [64]:
def create_df(author_name, file_number, sentence_tokens): #for train
#def create_df(author_name, sentence_tokens): #for test  
    #for train data
    dataframe_list = [[author_name]*len(sentence_tokens), [file_number]*len(sentence_tokens), sentence_tokens]
    df = pd.DataFrame (dataframe_list).transpose()
    df.columns = ['Author_name', 'File_Number', 'Sentences']
        
    #for test data
    #dataframe_list = [[author_name]*len(sentence_tokens), sentence_tokens]
    #df = pd.DataFrame (dataframe_list).transpose()
    #df.columns = ['Author_name', 'Sentences']
    return (df)

In [66]:
# create an Empty DataFrame object
df = pd.DataFrame()
# This would print all the files and directories
for file in dirs: 
    file_name = file
    #for train data
    file_content = open("C:/Users/Shaifali/OneDrive - University of Wolverhampton/Disseration Materials/Hindi Data/" + file_name, "r", encoding="utf-8").read()
    #for test data
    #file_content = open("C:/Users/Shaifali/OneDrive - University of Wolverhampton/Disseration Materials/Test Data/French Test Data/" + file_name, "r", encoding="utf-8").read()
    #author_name= file_metadata(file_name) #test
    author_name, file_number= file_metadata(file_name)#train
    sentence_tokens = clean_text(file_content)
    
    file_df = create_df(author_name, file_number, sentence_tokens) 
    df = pd.concat([df, file_df], axis=0)

In [67]:
df.to_csv("Hindi_data.csv")

In [68]:
df

,Author_name,File_Number,Sentences
0,देवकीनंदन खत्री,File_1,"बयान – 1 शाम का वक्त है, कुछ-कुछ सूरज दिखाई दे..."
1,देवकीनंदन खत्री,File_1,वीरेंद्रसिंह की उम्र इक्कीस या बाईस वर्ष की होगी।
2,देवकीनंदन खत्री,File_1,यह नौगढ़ के राजा सुरेंद्रसिंह का इकलौता लड़का है।
3,देवकीनंदन खत्री,File_1,तेजसिंह राजा सुरेंद्रसिंह के दीवान जीतसिंह का ...
4,देवकीनंदन खत्री,File_1,इन दोनों के सामने एक घोड़ा कसा-कसाया दुरुस्त प...
...,...,...,...
2398,सूर्यकांत त्रिपाठी निराला,File_3,किले के यौवन-काल में शहर की बडबड़ी आबादी थी।
2399,सूर्यकांत त्रिपाठी निराला,File_3,गंगा के किनारे होने की वजह से व्‍यवसाय का भी ब...
2400,सूर्यकांत त्रिपाठी निराला,File_3,पहले रेल तथा अच्‍छे मार्ग न होने से भारत का अध...
2401,सूर्यकांत त्रिपाठी निराला,File_3,प्राचीन उक्ति के अनुसार यह स्‍थान दालिभ्‍य-क्ष...
2402,सूर्यकांत त्रिपाठी निराला,File_3,"बाद को दालिभ्‍य का अपभ्रंश शायद दलमऊ हो गया, फ..."

In [26]:
#Distribution

In [70]:
import pandas as pd

# read in the CSV file as a pandas dataframe
df = pd.read_csv(r'C:/Users/Shaifali/OneDrive - University of Wolverhampton/Disseration Materials/Hindi_data.csv')

# group the dataframe by author name and file number, and count the number of sentences
counts = df.groupby(['Author_name']).size().reset_index(name='sentence_count')

# print the counts for each author and file
print(counts)

                 Author_name  sentence_count
0            देवकीनंदन खत्री           13652
1                   प्रेमचंद           11915
2          विभूति नारायण राय            8136
3      शरतचंद्र चट्टोपाध्याय            7252
4  सूर्यकांत त्रिपाठी निराला            5920

In [26]:
# group the dataframe by author name, and count the number of sentences
counts = df.groupby(['Author_name']).size().reset_index(name='sentence_count')

# print the counts for each author
print(counts)

         Author_name  sentence_count
0   Anthony_Trollope           35900
1    Charles_Dickens           30322
2  Elizabeth_Gaskell           30811
3    George_Meredith           50132
4         Mark_Twain           23233

In [ ]:
#Distribution after adding 4 texts each for Elizabeth Gaskell, George Meredith, and Mark Twain:
        Author_name  sentence_count
0   Anthony_Trollope           35900
1    Charles_Dickens           30322
2  Elizabeth_Gaskell           17753
3    George_Meredith           50132
4         Mark_Twain           18157

# Distribution after adding 2 texts more each for Elizabeth Gaskell and Mark Twain:

         Author_name  sentence_count
0   Anthony_Trollope           35900
1    Charles_Dickens           30322
2  Elizabeth_Gaskell           30811
3    George_Meredith           50132
4         Mark_Twain           23233

In [ ]:
Hindi Test

            Author_name  sentence_count
0        देवकीनंदन खत्री            4059
1               प्रेमचंद            9187
2      विभूति नारायण राय            2505
3  शरतचंद्र चट्टोपाध्याय            1924


Hindi Train

             Author_name  sentence_count
0            देवकीनंदन खत्री           13652
1                   प्रेमचंद           11915
2          विभूति नारायण राय            8136
3      शरतचंद्र चट्टोपाध्याय            7252
4  सूर्यकांत त्रिपाठी निराला            5920

In [ ]:
French Test

         Author_name  sentence_count
0   Charles_Monselet            1973
1  Guy_de_maupassant            1919
2          Paul_Adam            7645
3    Prosper_Merimee            3599
4        Victor_Hugo            9459


French Train 

         Author_name  sentence_count
0   Charles_Monselet            4654
1  Guy_de_maupassant            3975
2          Paul_Adam            8273
3    Prosper_Merimee            4180
4        Victor_Hugo           11893